<p>List of my Photo Albums</p>
<ul class="media-grid">
  <% @bundles.each do |bundle| %>
	<li>
    <%= link_to bootstrap_album_url(:id => bundle.id, :title => bundle.url_title ) do %>
		<%= bundle.name %>
		<% if bundle.photos.first %>
		<%= image_tag bundle.photos.first.image.url(:thumb), :class => "thumbnail" %> 
		<% end %>
	<% end %>
  </li>
 <% end %>
</ul>